// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation drawer component.
// -----------------------------------------------------------------------------

// local variables
$menu--break: 320px;
$menu--width: 300px;
$menu--height: 60px;
$wrapper--background-color: #fff;
$nav--background-color: #67b5d1;
$menu--transition: var(--menu--transition);


.#{$namespace}grid-wrapper {
	position: relative;
	overflow-x: hidden;
	transition: $menu--transition;
	// will-change: transform;
	background-color: $wrapper--background-color;
	// add a background colour to prevent seeing the menu transition on load
}

.#{$namespace}menu--push-right {
	position: fixed;
	top: 0;
	right: 0;
	z-index: -1;
	// put the menu below the wrapper on load so we don't see the triggered transition
	overflow-x: hidden;
	overflow-y: overlay;
	width: $menu--width;
	height: 100%;
	transition: $menu--transition;
	transform: translate3d($menu--width, 0, 0);
	background-color: $nav--background-color;
	// will-change: transform;
}

.#{$namespace}menu-trigger {
	display: none;
	margin: 0;

	&:checked~.#{$namespace}grid-wrapper {
		transform: translate3d(-$menu--width, 0, 0);
	}

	&:checked~.#{$namespace}menu--push-right {
		z-index: 200;
		// move the menu above the wrapper
		transform: translate3d(0, 0, 0);
		// width minus 20px to account for scroll area in safari
	}
}
