// -----------------------------------------------------------------------------
// This file contains default form styles.
// -----------------------------------------------------------------------------

// local variables
$form--font-size: $base-font-size * 1px; // sets the font size of form elements
$form-label--color: $brand-color;
$form-label--line-height: 1rem;
$form-label--font-size: $form-label--line-height;

$input--height: $base-line-height * 1.5rem;
$input--line-height: $base-line-height * 1.5rem;
$input--width: $text-color;
$input--border-radius: 2px; // sets the border radius for form elements
$input--border-color: $brand-color; // sets the border colour for form elements
$input--border-focus-color: $brand-color;
$input--border: 1px solid $input--border-color;
$input--border-focus: 1px solid $input--border-focus-color;
$input--box-shadow-start: rgba(255, 255, 255, .4); // sets the border focus colour for form elements
$input--box-shadow-end: rgba(0, 35, 71, .5); // sets the border focus colour for form elements
$input--color: $text-color;
$input--placeholder-color: inherit;
$input--placeholder-opacity: .5;

label,
.#{$namespace}form-label {
	color: $form-label--color;
	font-size: $form-label--font-size;
	font-weight: bold;
	line-height: $form-label--line-height;
}

select {
	color: $input--color;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-weight: normal;
}

input,
textarea {
	&::placeholder {
		opacity: $input--placeholder-opacity;
		color: $input--placeholder-color;
	}
}

[role='button'],
button {
	cursor: pointer;
}


input,
.#{$namespace}form-input  {
	height: $input--height;
	margin-bottom: 0;
	color: $input--color;
	border: $input--border;
	border-radius: $input--border-radius;
	font-size: $form--font-size;
	line-height: $input--line-height;

	&:focus {
		transition: border linear .2s, box-shadow linear .2s;
		border: $input--border-focus;
		outline-style: none;
		box-shadow: inset 0 1px 1px $input--box-shadow-start, 0 0 8px $input--box-shadow-end;
	}
}

textarea,
.#{$namespace}form-textarea {
	padding: .5rem;
	resize: vertical;
	color: $input--color;
	border: $input--border;
	border-radius: $input--border-radius;
	font-size: $form--font-size;
	line-height: $input--line-height;

	&:focus {
		transition: border linear .2s, box-shadow linear .2s;
		border: $input--border-focus;
		outline-style: none;
		box-shadow: inset 0 1px 1px $input--box-shadow-start, 0 0 8px $input--box-shadow-end;
	}
}

