// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Visually hide content but show it for screen readers
// https://webaim.org/techniques/css/invisiblecontent/
.#{$namespace}visually-hidden,
.#{$namespace}skip-link a {
	position: absolute;
	top: auto;
	left: -300%;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

.#{$namespace}skip-link a:focus {
	position: static;
	width: auto;
	height: auto;
}

.#{$namespace}appearance-none {
	appearance: none;
}


// Transformation Utilities
.#{$namespace}rotate-90 {
	transform: rotate(90deg);
}

.#{$namespace}rotate-180 {
	transform: rotate(180deg);
}

.#{$namespace}rotate-270 {
	transform: rotate(270deg);
}
