// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------


// Widths
.width--auto {
	width: 'auto';
}

.width--one-fifth {
	width: 20%;
}

.width--one-quarter {
	width: 25%;
}

.width--two-fifths {
	width: 40%;
}

.width--one-half {
	width: 50%;
}

.width--three-fifths {
	width: 60%;
}

.width--three-quarters {
	width: 75%;
}

.width--four-fifths {
	width: 80%;
}

.width--full {
	width: 100%;
}

.width--full-screen {
	width: 100vw;
}

// Heights
.height--auto {
	height: 'auto';
}

.height--full {
	height: 100%;
}

.height--full-screen {
	height: 100vh;
}
