// -----------------------------------------------------------------------------
// This file contains default typographic styles for text.
// -----------------------------------------------------------------------------

// From Typebase.scss v0.1.0 | https://github.com/devinhunt/typebase.css/blob/master/src/typebase.scss

// Typefaces
$default-typeface: $text-font-stack;

$alternate-typeface: $text-serif-font-stack;

// Typesetting variables.
// Base size as an integer. We convert the unit later. The default will result in 16px on desktop
$base-font-size: 16;

// Line height as an integer. Defines how high the line height is as a multiple of font size
$base-line-height: 1.5;

// Multiply the line height and add a unit. Defaults to rem.
$leading: $base-line-height * 1rem;

// Type scales:
// 1.067 Minor Second
// 1.125 Major Second
// 1.200 Minor Third
// 1.250 Major Third
// 1.333 Perfect Fourth
// 1.414 Augmented Fourth
// 1.500 Perfect Fifth
// 1.618 Golden Ratio
$scale: 1.125;

// The color of text when it is manually selected on page.
$selected-text-color: #fff;

// Set a maximum line length for optimized legibility. We use em units so that this is relative to the current text size.
$textline-width: 30em;
$textline-width--lg: 34em;
$textline-width--sm: 20em;


// Default
html {
	font-family: $default-typeface;
	font-size: ($base-font-size / 16) * 100%;
}

@media (max-width: 700px) {
	html {
		/// set base to 14px - http://pxtoem.com
		font-size: ($base-font-size / 16) * 87.5%;
	}
}

@media (min-width: 1400px) {
	html {
		// set base to 20px - http://pxtoem.com
		font-size: ($base-font-size / 16) * 125%;
	}
}

@media (min-width: 1600px) {
	html {
		// set base to 24px - http://pxtoem.com
		font-size: ($base-font-size / 16) * 150%;
	}
}

// Selection color
::selection {
	color: $selected-text-color;
	background: var(--brand-color);
}

// Copy & Lists
p {
	margin-top: $leading;
	margin-bottom: 0;
	line-height: $leading;
}

ul,
ol {
	margin-top: $leading;
	margin-bottom: $leading;

	li {
		line-height: $leading;
	}

	ul,
	ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

blockquote {
	margin-top: $leading;
	margin-bottom: $leading;
	line-height: $leading;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.#{$namespace}heading-one,
.#{$namespace}heading-two,
.#{$namespace}heading-three,
.#{$namespace}heading-four,
.#{$namespace}heading-five,
.#{$namespace}heading-six {
	margin-bottom: 0;
	font-family: $alternate-typeface;
}

h1,
.#{$namespace}heading-one {
	margin-top: 2 * $leading;
	font-size: (5 * $scale) * 1rem;
	line-height: 5 * $leading;
}

h2,
.#{$namespace}heading-two {
	margin-top: 2 * $leading;
	font-size: (4 * $scale) * 1rem;
	line-height: 4 * $leading;
}

h3,
.#{$namespace}heading-three {
	margin-top: 2 * $leading;
	font-size: (3 * $scale) * 1rem;
	line-height: 3 * $leading;
}

h4,
.#{$namespace}heading-four {
	margin-top: 2 * $leading;
	font-size: (2 * $scale) * 1rem;
	line-height: 2 * $leading;
}

h5,
.#{$namespace}heading-five {
	margin-top: $leading;
	font-size: (1 * $scale) * 1rem;
	line-height: $leading;
}

h6,
.#{$namespace}heading-six {
	margin-top: $leading;
	font-size: ($scale / 1.5) * 1rem;
	line-height: $leading;
}

// Tables
table {
	margin-top: $leading;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	line-height: ($base-line-height * $base-font-size) - 0px;
}

// Horizontal Rule
hr {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

// Code blocks
code,
.#{$namespace}text-code {
	// Forces text to constrain to the line-height. Not ideal, but works.
	vertical-align: bottom;
}

// TEXT UTILITIES
// -------------------
// Sizes
.#{$namespace}text-lead {
	//margin-top: 1.25 * $leading;
	//margin-bottom: 0;
	font-size: $scale * 1rem;
	line-height: 1 * $leading;
}

.#{$namespace}text-small {
	font-size: 1rem * .875;
}

// Leading (line heights)
.#{$namespace}text-leading-none {
	line-height: ($base-line-height / 3) * 2;
}

.#{$namespace}text-leading-tight {
	line-height: ($base-line-height / 6) * 5;
}

.#{$namespace}text-leading-normal {
	line-height: $base-line-height;
}

.#{$namespace}text-leading-loose {
	line-height: ($base-line-height / 3) * 4;
}

// Alignment
.#{$namespace}text-serif {
	font-family: $text-serif-font-stack;
}

.#{$namespace}text-sans {
	font-family: $text-font-stack;
}

// Alignment
.#{$namespace}text-center {
	text-align: center;
}

.#{$namespace}text-right {
	text-align: right;
}

.#{$namespace}text-left {
	text-align: left;
}

.#{$namespace}text-justify {
	text-align: justify;
}

// Case
.#{$namespace}text-uppercase {
	text-transform: uppercase;
}

.#{$namespace}text-lowercase {
	text-transform: lowercase;
}

.#{$namespace}text-normalcase {
	text-transform: none;
}

.#{$namespace}text-capitalize {
	text-transform: capitalize;
}

// Position
// Hug the block above you
.#{$namespace}text-hug {
	margin-top: 0;
}

// Tracking - modifies the letter spacing
.#{$namespace}text-tracking-tight {
	letter-spacing: -.05em;
}

.#{$namespace}text-tracking-normal {
	letter-spacing: 0;
}

.#{$namespace}text-tracking-wide {
	letter-spacing: .05em;
}

// Whitespace and wrapping
// Adds an ellipsis after overflowing text
.#{$namespace}text-truncate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.#{$namespace}text-whitespace-normal {
	white-space: normal;
}

.#{$namespace}text-whitespace-pre {
	white-space: pre;
}

.#{$namespace}text-break-words {
	word-wrap: break-word;
}

.#{$namespace}text-break-normal {
	word-wrap: normal;
}

.#{$namespace}text-measure {
	max-width: $textline-width;
}

.#{$namespace}text-measure-sm {
	max-width: $textline-width--sm;
}

.#{$namespace}text-measure-lg {
	max-width: $textline-width--lg;
}
