/* -----------------------------------------------------------------------------

  SLIDE AND PUSH MENUS COMPONENT
  
----------------------------------------------------------------------------- */

$menu-break: 320px;
$menu-width: 300px;
$menu-height: 60px;

/**
 * Menu overview.
 */

.menu {
    position: fixed;
    z-index: 200;
    background-color: $color--theme;
    transition: transform 0.3s;
}

.menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}


/**
 * Left and right menus
 *
 * Slide and push menus coming in from the left and right inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.
 */


/**
 * Common modifiers for left/right menus.
 */

.menu--slide-left,
.menu--slide-right,
.menu--push-left,
.menu--push-right {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    @media all and (min-width: $menu-break) {
        width: $menu-width;
    }
}

.menu--slide-left .menu__item,
.menu--slide-right .menu__item,
.menu--push-left .menu__item,
.menu--push-right .menu__item {
    display: block;
    text-align: center;
    border-top: solid 1px $color--theme-light;
    border-bottom: solid 1px $color--theme-dark;
    &:first-child {
        border-top: none;
    }
    &:last-child {
        border-bottom: none;
    }
}

.menu--slide-left .menu__link,
.menu--slide-right .menu__link,
.menu--push-left .menu__link,
.menu--push-right .menu__link {
    display: block;
    padding: 12px 24px;
    color: #fff;
}

.menu--slide-left .menu__close,
.menu--slide-right .menu__close,
.menu--push-left .menu__close,
.menu--push-right .menu__close {
    display: block;
    padding: 12px 24px;
    width: 100%;
}


/**
 * Slide/Push Menu Left.
 */

.menu--slide-left,
.menu--push-left {
    top: 0;
    left: 0;
    //transform: translateX(-100%);
    transform: translate3d(-100%, 0, 0);
    @media all and (min-width: $menu-break) {
        //transform: translateX(-$menu-width);
        transform: translate3d(-$menu-width, 0, 0);
    }
}

.menu--slide-left.is-active,
.menu--push-left.is-active {
    //transform: translateX(0);
    transform: translate3d(0, 0, 0);
}


/**
 * Slide/Push Menu Right.
 */

.menu--slide-right,
.menu--push-right {
    top: 0;
    right: 0;
    //transform: translateX(100%);
    transform: translate3d(100%, 0, 0);
    @media all and (min-width: $menu-break) {
        //transform: translateX($menu-width);
        transform: translate3d($menu-width, 0, 0);
    }
}

.menu--slide-right.is-active,
.menu--push-right.is-active {
    //transform: translateX(0);
    transform: translate3d(0, 0, 0);
}


/**
 * Top and bottom menus
 *
 * Slide and push menus coming in from the top and bottom inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.

/**
 * Common modifiers for top/bottom menus
 */

.menu--slide-top,
.menu--slide-bottom,
.menu--push-top,
.menu--push-bottom {
    vertical-align: middle;
    width: 100%;
    height: $menu-height;
    text-align: center;
    overflow-x: scroll;
}

.menu--slide-top .menu__items,
.menu--slide-bottom .menu__items,
.menu--push-top .menu__items,
.menu--push-bottom .menu__items {
    display: inline-block;
    text-align: center;
}

.menu--slide-top .menu__item,
.menu--slide-bottom .menu__item,
.menu--push-top .menu__item,
.menu--push-bottom .menu__item {
    display: inline-block;
    line-height: $menu-height;
}

.menu--slide-top .menu__link,
.menu--slide-bottom .menu__link,
.menu--push-top .menu__link,
.menu--push-bottom .menu__link {
    display: block;
    padding: 0 4px;
    color: #fff;
}

.menu--slide-top .menu__close,
.menu--slide-bottom .menu__close,
.menu--push-top .menu__close,
.menu--push-bottom .menu__close {
    display: inline-block;
    margin-right: 12px;
    padding: 0 24px;
    height: $menu-height;
    line-height: $menu-height;
}


/**
 * Slide/Push Menu Top.
 */

.menu--slide-top,
.menu--push-top {
    top: 0;
    left: 0;
    //transform: translateY(-$menu-height);
    transform: translate3d(0, -$menu-height, 0);
}

.menu--slide-top.is-active,
.menu--push-top.is-active {
    //transform: translateY(0);
    transform: translate3d(0, 0, 0);
}


/**
 * Slide/Push Menu Bottom.
 */

.menu--slide-bottom,
.menu--push-bottom {
    bottom: 0;
    left: 0;
    //transform: translateY($menu-height);
    transform: translate3d(0, $menu-height, 0);
}

.menu--slide-bottom.is-active,
.menu--push-bottom.is-active {
    //transform: translateY(0);
    transform: translate3d(0, 0, 0);
}


/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance.
 */

#wrapper.has-push-left {
    //transform: translateX(100%);
    transform: translate3d(100%, 0, 0);
    @media all and (min-width: $menu-break) {
        //transform: translateX($menu-width);
        transform: translate3d($menu-width, 0, 0);
    }
}

#wrapper.has-push-right {
    //transform: translateX(-100%);
    transform: translate3d(-100%, 0, 0);
    @media all and (min-width: $menu-break) {
        //transform: translateX(-$menu-width);
        transform: translate3d(-$menu-width, 0, 0);
    }
}

#wrapper.has-push-top {
    //transform: translateY($menu-height);
    transform: translate3d(0, $menu-width, 0);
}

#wrapper.has-push-bottom {
    //transform: translateY(-$menu-height);
    transform: translate3d(0, -$menu-width, 0);
}


/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */

body.has-active-menu {
    overflow: hidden;
}


/**
 * Close button resets.
 */

.menu__close {
    color: #fff;
    background-color: $color--theme-dark;
    font-size: $font-size--small;
    border: none;
    box-shadow: none;
    border-radius: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.menu__close:focus {
    outline: none;
}