// -----------------------------------------------------------------------------
//
// CONFIG
//
// -----------------------------------------------------------------------------
@import "config.variables";
// -----------------------------------------------------------------------------
//
// GENERIC
//
// -----------------------------------------------------------------------------
@import "generic.boxsizing";
// -----------------------------------------------------------------------------
//
// OBJECTS
//
// -----------------------------------------------------------------------------
@import "objects.layout";
// -----------------------------------------------------------------------------
//
// COMPONENTS
//
// -----------------------------------------------------------------------------
@import "components.menus";
@import "components.mask";
@import "components.buttons";
@import "components.hamburger";
.wrapper-logo img {
    display: none;
}

.wrapper-logo a {
    display: inline-block;
    width: 200px;
    height: 100px;
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-image: url("../img/UBCx_Online.svg");
}