:root {
  --boxwidth: 100vw;
  --boxheight: 100vh;
  --menutransition: transform 0.195s cubic-bezier(.694, .0482, .335, 1);
  --rootfontsize: 16px;
}


/*
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
*/


/* TYPE AND DEFAULTS */


/*! Typebase.less v0.1.0 | MIT License */


/* Setup */

html {
  /* Change default typefaces here */
  font-family: sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

@media (max-width: 60em) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 80%;
  }
}


/* Copy & Lists */

p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

li {
  line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

h1,
.heading-1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}

h2,
.heading-2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}

h3,
.heading-3 {
  font-size: 1.414rem;
  font-size: 2rem;
}

h4,
.heading-4 {
  font-size: 0.707rem;
  font-size: 1.414rem;
}

h5,
.heading-5 {
  font-size: 1rem;
}

h6,
.heading-6 {
  font-size: 0.875rem;
}


/* Tables */

table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
  line-height: 33px;
}


/* Code blocks */

code {
  vertical-align: bottom;
}


/* Leading paragraph text */

.lead {
  font-size: 1.414rem;
}


/* Hug the block above you */

.hug {
  margin-top: 0;
}

.grid-wrapper {
  transition: var(--menutransition);
  /*will-change: transform;*/
  overflow-x: hidden;
  position: relative;
  background-color: #fff;
  /* add a background colour to prevent seeing the menu transition on load */
}

.nav-trigger {
  display: none;
  margin: 0;
}

.menu--push-right {
  transform: translate3d(300px, 0, 0);
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: -1;
  /* put the menu below the wrapper on load so we don't see the triggered transition */
  background-color: #67b5d1;
  overflow-y: overlay;
  overflow-x: hidden;
  transition: var(--menutransition);
  /*will-change: transform;*/
  top: 0;
  right: 0;
}

.nav-trigger:checked~.grid-wrapper {
  transform: translate3d(-300px, 0, 0);
}

.nav-trigger:checked~.menu--push-right {
  transform: translate3d(0, 0, 0);
  /* width minus 20px to account for scroll area in safari */
  z-index: 200;
  /* move the menu above the wrapper */
}

.nav-label {
  display: inline-block;
  padding: .5rem .75rem;
  background-color: #ddd;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav-label-close {
  display: block;
  width: 100%;
  padding: .5rem;
  font-size: 2rem;
  width: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.nav-label-close:hover {
  color: #fff;
  cursor: pointer;
}

.page__header {
  margin: 0;
  padding: 2rem;
}

.opening__section {
  margin: 0;
  padding: 2rem;
}

.page__section,
.page__footer {
  height: var(--boxheight);
  width: var(--boxwidth);
  margin: 0;
  padding: 2rem;
}

.page__section {
  background-color: #ccc;
  border-top: 1px solid #000;
}

.page__section:nth-child(2n+1) {
  background-color: orange;
  border-top: 1px solid rgba(255, 255, 255, .6);
  color: #000;
}

.menu__items,
.menu__item {
  margin: 0;
  list-style: none;
  padding: 0;
}

.menu__link {
  display: block;
  padding: .5rem;
}
