// -----------------------------------------------------------------------------
// This file contains all default application-wide Sass and CSS3 variables.
// -----------------------------------------------------------------------------

/// Namespace for prefixing styles
// Usage - add a unique prefix here, such as 'ubc-'. This will be prepended to your styles. For example, the class 'grid' would become 'ubc-grid'. It is left blank by default.
$namespace: '' !default;

/// Regular font family
/// @type List
$text-font-stack:
'system-ui',
'BlinkMacSystemFont',
'-apple-system',
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif !default;

/// Serif font family
/// @type List
$text-serif-font-stack:
'Constantia',
'Lucida Bright',
'Lucidabright',
'Lucida Serif',
'Lucida',
'DejaVu Serif',
'Bitstream Vera Serif',
'Liberation Serif',
'Georgia',
serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack:
'Menlo',
'Monaco',
'Consolas',
'Liberation Mono',
'Courier New',
monospace !default;


/// Type Variables
// as an integer. We convert the unit later. The default will result in 16px on desktop
$base-font-size: 16 !default;

// as an integer. Defines how high the line height is as a multiple of font size.
$base-line-height: 1.5 !default;

// multiply the line height and add a unit. Defaults to rem.
$leading: $base-line-height * 1rem !default;

$default-typeface: sans-serif !default;

$alternate-typeface: sans-serif !default;

// TYPE SCALES:
// 1.067 Minor Second
// 1.125 Major Second
// 1.200 Minor Third
// 1.250 Major Third
// 1.333 Perfect Fourth
// 1.414 Augmented Fourth
// 1.500 Perfect Fifth
// 1.618 Golden Ratio
$scale: 1.25 !default;


// Preference is given to HSLA format
// Online color converter: https://www.w3schools.com/colors/colors_converter.asp
/// Copy text color
/// @type Color
$text-color: hsla(0, 0%, 13%, 1) !default;

/// Main brand color
/// @type Color
$brand-color: var(--brand-color) !default;

/// Light grey
/// @type Color
$light-grey: hsla(0, 0%, 93%, 1) !default;

/// Medium grey
/// @type Color
$mid-grey: hsla(0, 0%, 60%, 1) !default;

/// Dark grey
/// @type Color
$dark-grey: hsla(0, 0%, 27%, 1) !default;

/// Container's maximum width
/// @type Length
// $max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ( 'small': 320px, 'medium': 768px, 'large': 1024px, ) !default;


/// Breakpoints map
$breakpoint--xs: 320px !default;
$breakpoint--sm: 576px !default;
$breakpoint--md: 768px !default;
$breakpoint--lg: 980px !default;
$breakpoint--xl: 1200px !default;
$breakpoint--xxl: 1400px !default;

$breakpoint--xs--max: $breakpoint--sm - 1px !default;
$breakpoint--sm--max: $breakpoint--md - 1px !default;
$breakpoint--md--max: $breakpoint--lg - 1px !default;
$breakpoint--lg--max: $breakpoint--xl - 1px !default;
$breakpoint--xl--max: $breakpoint--xxl - 1px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

/// CSS Variables
/// Added here so we are able to use them throughout the cascade.
// https://github.com/sasstools/sass-lint/issues/877
// ugly hack to get around sass-lint not understanding css variables.
:root {
	#{--menu--transition}: transform .195s cubic-bezier(.694, .0482, .335, 1);
	#{--brand-color}: #002347;
}
