// -----------------------------------------------------------------------------
// This file contains all styles related to the accordion component.
// -----------------------------------------------------------------------------

////
/// This is an Accordion component.
/// It can use either the html5 `details` and `summary` elements (recommended), or, with additional javascript, use `div` elements.
/// @group Components
/// @example
/// With details
/// <details class="accordion">
///   <summary class="accordion-tab">Accordion Title</summary>
///   <p>Accordion Content</p>
///   <p>More Accordion Content</p>
/// </details>
/// With divs
/// <div class="accordion">
///   <div class="accordion-tab" tabindex="0">Accordion Title</div>
///   <div class="accordion-content clearfix" style="display: none; ">
///     <p>Accordion Content</p>
///   </div>
/// </div>
/// @author James O'Toole
////

/// Accordion Background Color
/// @type Color
$accordion-background-color: #fff;

/// Accordion Text Color
/// @type Color
$accordion-text-color: $brand-color;

/// Accordion Icon when Open
/// @type Icon
$accordion-icon--opened: '-';

/// Accordion Icon when Closed
/// @type Icon
$accordion-icon--closed: '+';

.accordion {
  background-color: $accordion-background-color;
  color: $accordion-text-color;
  padding: 1em;
}


::-webkit-details-marker { display:none; }

summary::after {
  content: $accordion-icon--closed; 
  color: $accordion-text-color; 
  float: right; 
  font-size: 1.5em; 
  font-weight: bold; 
  margin: -5px 10px 0 0; 
  padding: 0; 
  text-align: center; 
  width: 20px;
}
details[open] {
  border: 1px solid #cccccc;
}
details[open] > summary {
  background-color: $brand-color;
  color: #fff;
}
details[open] > summary::after {
  content: $accordion-icon--opened;
}
