// -----------------------------------------------------------------------------
// This file contains all styles related to the anchor component.
// -----------------------------------------------------------------------------

// local variables
$heading__anchor-color: $brand-color;
$heading__anchor-size: .875rem;
$heading__anchor-offset: 1rem;

.#{$namespace}heading__anchor {
	display: inline-block;
	transition: .125s opacity ease;
	opacity: 0;
	padding-left: $heading__anchor-offset;
	vertical-align: middle;
	text-transform: none;
	text-decoration: none;
	line-height: $heading__anchor-size;
	color: $heading__anchor-color;
	font-size: $heading__anchor-size;

	&:hover {
		text-decoration: underline;
	}
}

h2,
h3,
h4,
h5,
h6 {
	&:hover {
		.#{$namespace}heading__anchor {
			opacity: .9;
		}
	}
}
